@font-face {
  font-family: 'pizza';
  src: url('./OrderPizza.ttf');
}

body {
  background-image: linear-gradient(to right, white, black);
}

.pretty {
  margin: auto;
  width: 75%;
  text-align: center;
  background-image: linear-gradient(to right, orange, yellow, orange);
  min-height: 500px;
  padding: 2%;
}

.pretty h1 {
  font-family: pizza;
  font-size: 32px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

select, button {
    margin: 2%;
}