@font-face{
	font-family: 'pizza';
	src: url('./OrderPizza.ttf');
}
body{
	background-image: linear-gradient(to right, white, black);
}
.pretty{
	margin: auto;
	width: 75%;
	text-align: center;
	background-image: linear-gradient(to right, orange, yellow, orange);
	min-height: 500px;
	}
	.pretty h1{
		font-family: pizza;
			background-image: linear-gradient(to right, red, White, red)
	}
